* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Sans", sans-serif;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #929292;
  }

/*******    TAMAÑOS     *******/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/*  MEDIA   */
@media screen and (width<=768px){
    [class*="col-"]{
        width: 100%;
    }
    .contenedorHijos{
        flex-direction: column;
    }
}


/******* T E X T O S *******/

h1{
    font-size: 48px;
}

h1, .texto-1{
    color: #fff;
    font-weight: 400;
}

.texto-1{
    opacity: 0.6;
}

.texto-2, .texto-3{
    color: #787777;
}

.texto-2, .texto-4{
font-size: 18px;
line-height: 24px;
text-align: center;
}

.texto-3{
    font-size: 15px;
    text-align: center;
}

.texto-4{
    color: #929292;
}

h2{
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
    color: black;
}

h3{
    color: black;
    text-align: center;
    font-weight: 400;
}

p{
    font-size: 20px;
    line-height: 1.5;
 }

 /* .centrar-textos {
    justify-content: center;
    display: flex;
    text-align: left;
    flex-direction: column;
} */


/*******    COLORES     *******/
.color-gris{
    border: none;
    border-top: 0.5px solid #929292;
}

.fondo-gris-oscuro{
    background: #333;
}

/*******  ESPACIOS   *******/
.centrar{
    margin: auto;
}

.margen-arriba {
    margin-top: 200px;
}

.espacio-pequeño-arriba{
    margin-top: 70px;
}

.margen-abajo {
    margin-bottom: 40px;
}

.espacios-xy {
padding: 20px;
}

.espacio-xy-50{
    padding: 50px;
}

.espacio-xy-25{
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-libro{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


/*
*
*
*
*
*
*
*/

/******* CABECERA *******/
.header{
    height: 100vh;
    flex-direction: column;
}

.contenedorMenu{
    background: #fff;
    width: 100%;
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}

.contenedorMenu a{
    text-decoration: none;
    color: #333;
}

.boton{
    background-color: #49b970;
    padding: 20px 35px;
    text-transform: uppercase;
    font-weight: 70;
    font-size: 12px;
    border-radius: 25px;
    color: #fff;
    border: none;
}


/******* Sección cuadrados *******/
.centrar-img{
    text-align: center;
    margin: 0 auto;
}

.centrar-img img{
    text-align: center;
}

.centrar-img svg{
color: #49b970;
}

.ipad{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;

}

.ipad p{
    text-align: left;
}

.ipad h2{
    text-align: left;
    font-weight: 400;
}

.ipad svg{
    color: #49b970;
    text-align: right;
}

.ipad h3{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.capitulos-incluidos{
    padding-right: 70px;
}

.foto-ipad{
    max-width: 100%;
}

.row-columna{
    flex-direction: column;
}

.efecto:hover{
    transform: translate(0, -5px);
}



/*SECCION FOTO*/
.seccion-foto{
    background:#f8f8f8 ;
}

.seccion-foto h2, .seccion-foto p{
    text-align: left;
}








